body {
  background-color: yellow;
}

nav {
  margin: 50px;
  width: auto;
  height: auto;
}

footer {
  width: 100%;
  height: auto;
  margin-top: 100px;
  text-align: center;
  padding: 10px;
}

img.Profil {
  width: 500px;
  height: 500px;
  border-radius: 100%;
}

ul li {
  list-style-type: none;
}

ol li{
  list-style-type: circle;
}

.bold {
  font-weight: bold;
}

.italic {
  font-style: italic;
}

.lingkaran {
  border: 1px hidden black;
  border-radius: 100%;
  text-align: center;
  width: 100px;
  height: 100px;
  padding: 10px;
  color: white;
  background-color: red;
}

.project {
  margin-left: 60px;
  margin-bottom: 40px;
}

.form {
  margin-left: 60px;
  margin-right: 60px;
}
